<div class="demo">
  <Slider on:change="{changed}">
    {#each slides as slide, id}
      <div
        style="background:{slide.bg}"
        class="slide"
      >
        {slide.content}		
      </div>
		{/each}
  </Slider>
</div>

<style>
	.demo {
		margin: 0 auto;
		height: 230px;
		width: 60vw;
	}

  .slide {
		flex: 1 0 auto;
		width: 100%;
		height: 100%;
		background: red;
	  align-items: center;
		justify-content: center;
		display: flex;
		text-align: center;
		font-weight: bold;
		font-size: 2rem;
		color: white;
	}
</style>

<script>
	import Slider from '../src/Slider.svelte'

  let slides = [
		{ content: '1', bg: 'blue' },
		{ content: '2', bg: 'red' },
		{ content: '3', bg: 'green' },
		{ content: '4', bg: 'orange' },
	]
	function changed (event) {
		console.log(event.detail.currentSlide)
	}
</script>