
<script>
	import { hslide } from './hslide.js';
	import { onMount } from 'svelte';
	
	let loop = false;
	let startIndex = 0;
	let slides = [];
	let cur = 0;

	const transition_args = {
		duration: 200,
	}
	const clamp = (number, min, max) => Math.min(Math.max(number, min), max);

	onMount(() => {
		slides = [].slice.call(document.querySelector('.slides').children);
		cur = loop ? startIndex % slides.length :	Math.max(0, Math.min(startIndex, slides.length));
		slide();
	});

	function slide() {
		slides.forEach((slide, i) => {
			if (cur == i) {
				slide.classList.remove('hidden');
			} else {
				slide.classList.add('hidden')
			}
		})
	}
	
	function changeSlide(to) {
		cur = to;
		slide();
	}
	
	function prev(e) {
		cur = clamp( --cur, 0, slides.length-1 );
		slide();
	}
	
	function next(e) {
		cur = clamp( ++cur, 0, slides.length-1 )
		slide();
	}
	
  const ARROW_LEFT = 37;
	const ARROW_RIGHT = 39;
	function handleShortcut(e) {
		if (e.keyCode === ARROW_LEFT ) {
			prev();
		}
		if (e.keyCode === ARROW_RIGHT ) {
			next();
		}
	}

</script>

<svelte:window on:keyup={handleShortcut} />

<div class="slider">
	<div class="slides">
		<slot></slot>
	</div>
	<div class="controls">
		<button on:click="{()=>prev()}">
			&lt;
		</button>
		<button on:click="{()=>next()}">
			&gt;
		</button>
	</div>
</div>

<div class="dots">
	{#each slides as slide, i}
		<button on:click={()=>changeSlide(i)} class="dot" class:selected={cur == i}>{i+1}</button>
	{/each}
</div>

<style>
	
	:global(html) {
		font-size: 62.5%;
	}
	
	:global(body) {
		font-size: 1.4rem;
	}

	:global(.slider .slides .hidden) {
		display: none;
	}

	button {
		background: transparent;
		color: #FFF;
		border-color: transparent;
		width: 3.2rem;
		height: 3.2rem;
	}
	
	button:hover,
	button:focus{
		background: rgba(0,0,0,0.5);
	}
	
	.dots {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 8px;
	}
	
	.dot {
		width: 8px;
		height: 8px;
		background: #000;
		border-radius: 100%;
		font-size: 0;
		margin: 0.3rem;
		opacity: 0.3;
	}
	
	.dot.selected {
		opacity: 1;
	}

	.slider {
		width: 80%;
		margin: 0 auto;
		padding: 0 0 56.25%;
    position: relative;
	}

	.slides {
		height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
	}

	.controls button:first-child {
		position: absolute;
		left: 0;
		top: calc(50% - 1.2rem);
	}
	
	.controls button:last-child {
		position: absolute;
		right: 0;
		top: calc(50% - 1.2rem);
	}
		
	.controls {
		text-align: center;
		width: 100%;
		display: block;
	}
</style>